.container{
  display: flex;
}
.button-container{
  display: flex;
}
.button{
  height: 72px;
  width: 139px;
  position: absolute;
  bottom: 0px
}
.red-unpressed{
  background-image: url("../images/red-buttonUnpressed.png")
}
.blue-unpressed{
  background-image: url("../images/blue-buttonUnpressed.png")
}
.yellow-unpressed{
  background-image: url("../images/yellow-buttonUnpressed.png")
}
.red-pressed{
  background-image: url("../images/red-buttonPressed.png")
}
.blue-pressed{
  background-image: url("../images/blue-buttonPressed.png")
}
.yellow-pressed{
  background-image: url("../images/yellow-buttonPressed.png")
}
