img{
  content: "";
}
.container{
  display: flex;
}
.button-container{
  display: flex;
}
.button{
  height: 74px;
  width: 133px;
  position: absolute;
  bottom: 0px;
}
.red-unpressed{
  background-image: url("../images/red-buttonUnpressed.png")
}
.blue-unpressed{
  background-image: url("../images/blue-buttonUnPressed.png")
}
.yellow-unpressed{
  background-image: url("../images/yellow-buttonUnpressed.png")
}
.orange-unpressed{
  background-image: url("../images/orange-buttonUnpressed.png")
}
.green-unpressed{
  background-image: url("../images/green-buttonUnPressed.png")
}
.red-pressed{
  background-image: url("../images/red-buttonPressed.png")
}
.blue-pressed{
  background-image: url("../images/blue-buttonPressed.png")
}
.yellow-pressed{
  background-image: url("../images/yellow-buttonPressed.png")
}
.orange-pressed{
  background-image: url("../images/orange-buttonPressed.png")
}
.green-pressed{
  background-image: url("../images/green-buttonPressed.png")
}
