.container{
  background-color: #6c6c6c;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.info{
  position: relative;
  margin-left: 0 auto;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  background-color: aqua;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  font-family: 'Metal Mania', cursive;
}

.channel-containers{
  height: 700px;
  display: flex;
  justify-content: space-around;
  width: inherit;
  border-radius: 5px;
  background-color: #1b1410;
  box-shadow: 36px 17px 16px 3px rgba(0,0,0,.8);
  background-image: url("../images/fretbackground.png")
}
.channel{
  height: 678px;
  width: 129px;
  display: flex;
}
.channel-container{
  position: relative;

}
.red{
  /*border: 5px solid red;*/
}
.yellow{

}
.blue{

}
.green{

}
.orange{

}
