img{
  border: 0 !important;
}
.container{
  background-color: #6c6c6c;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../images/crowdbackground.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.personal-info{
  position: relative;
  height: 160px;
  margin-top: 100px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 37px;
  color: #fbcf16;
  text-shadow: 2px 2px 4px #000;
  font-style: italic;
}
.score{
  position: relative;
  height: 160px;
  margin-top: 100px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 60px;
  color: #fbcf16;
  text-shadow: 2px 2px 4px #000;
}

.channel-containers{
  height: 700px;
  display: flex;
  justify-content: space-around;
  width: inherit;
  border-radius: 10px;
  background-color: #1b1410;
  box-shadow: 36px 17px 16px 3px rgba(0,0,0,.8);
  background-image: url("../images/fretbackground.png")
}
.channel{
  height: 678px;
  width: 129px;
  display: flex;
}
.channel-container{
  position: relative;

}
.red{
  /*border: 5px solid red;*/
}
.yellow{

}
.blue{

}
.green{

}
.orange{

}
