.modal-container{
  z-index: 3;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.45);
  left: 0;
  align-items: center;
  justify-content: center;
}
#modal{
  height: 400px;
  width: 600px;
  margin: auto 0;
  opacity: 1;
  border-radius: 5px;
  background-color: #121315;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
  text-align: center;
  color: white;
  font-size: 61px;
  font-family: 'Metal Mania', cursive;
  text-shadow: 2px 2px 4px #debb54;
  color: #d91310;
}
.welcome{
  padding: 5px;
}
.guitar-icon{
  height: 50px;
  width: auto;
}
.choice{
  text-shadow: 2px 2px 4px #000;
  font-size: 16px;
  overflow: scroll;
  color: #fbcf16;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}
.choice-bottom-border{
  border-bottom: 2px solid #67b2cd;
}
.controls{
  font-size: 55px;
}
.start-button{
  border: none;
  border-radius: 2px;
  font-family: 'Metal Mania', cursive;
  position: relative;
  bottom: 20px;
  width: 100px;
  height: 30px;
  font-size: 17px;
  box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 1);
  color: #fbcf16;
  background-color: #d91310;
}
.hidden{
  display: none;
}
