.modal-container{
  z-index: 3;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.45);
  left: 0;
  align-items: center;
  justify-content: center;
}
#modal{
  height: 400px;
  width: 600px;
  margin: auto 0;
  opacity: 1;
  border-radius: 5px;
  background-color: #121315;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
  text-align: center;
  color: white;
  font-size: 64px;
  font-family: 'Metal Mania', cursive;
  text-shadow: 2px 2px 4px #000;
  color: #d91310;
}
.guitar-icon{
  height: 50px;
  width: auto;
}

.hidden{
  display: none;
}
